body,
html {
  height: 100%;
}
.bg-image {
  background-image: url("/images/homepage.webp");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-bg {
  background-image: url("/images/aboutpage.avif");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-bg {
  background-image: url("/images/projectpage.webp");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutservices {
  height: 86%;
  width: 100%;
}

.headquaters {
  height: 100%;
  width: 45vw;
}
